:root {
  --main-color: #f5eddc;
  --second-color: #cfd2cf;
  --third-color: #a2b5bb;
  --four-color: #eb1d35e3;
  --five-color: #ff9776;
  --font-read: "Charis SIL", serif;
}

html {
  background-color: var(--main-color);
  font-family: "Charis SIL", serif;
  font-family: "Poiret One", cursive;
  /* font-family: "Rubik 80s Fade", cursive; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  color: rgba(20, 20, 20, 0.937);
}

small {
  color: rgba(38, 38, 38, 0.937);
}

body {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Poiret One", cursive;
}

h2 {
  font-family: "Poiret One", cursive;
}

h3 {
  font-family: "Poiret One", cursive;
}

a {
  font-family: "Poiret One", cursive;
}

p {
  font-family: "Charis SIL", serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--five-color);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;

  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--five-color);
}

.nav-links a:hover,
a:focus {
  background-color: var(--five-color);
  color: white;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  body {
    width: 70%;
  }

  .nav-links {
    display: flex;
    align-items: center;
    background: none;
  }
  .nav-links a {
    display: inline-block;
    border: 0;
    margin: 0;
  }

  .hamburger {
    display: none;
  }
}

/* Dark Theme */
html.dark {
  background-color: var(--third-color);
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark li a {
  color: #fff;
}

.dark .outline {
  color: white;
  background-color: var(--five-color);
}

.button {
  margin: 0;
  padding: 5px;
  box-sizing: content-box;
  background-color: var(--four-color);
  border-color: var(--five-color);
  /* box-shadow: 5px 2px 2px var(--five-color); */
  border-radius: 5px;

  box-shadow: var(--five-color) 0px 2px 4px;
}

.outline {
  color: var(--five-color);
  border-color: var(--five-color);
  box-shadow: var(--five-color) 0px 2px 4px;
}

.outline-index {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.h3-index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  font-size: 1.5rem;
}
