---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import TagIndex from "../components/TagIndex.astro";

const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";

const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};

// console.log(post.data.pubDate.getFullYear())

const month = allPosts.map((post) => post.data.pubDate);
month.sort();
// console.log(month.sort());
---

<BaseLayout pageTitle={pageTitle}>
  <TagIndex />
  <p>Моё пространство в глобальной сети интернет.</p>
  <ol reversed>
    {
      allPosts.map((post) => (
        <BlogPost
          pubDate={post.data.pubDate.toLocaleString("ru-Ru", options)}
          url={"/posts/" + post.slug}
          title={post.data.title}
        />
      ))
    }
  </ol>
</BaseLayout>

<style>
  ol li {
    /* list-style: none; */
  }
</style>

<script>
  const dates = document.getElementsByClassName("date");
  console.log(dates);
</script>
