---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <Greeting
      client:load
      hi={["Hi", "Hej", "Hallo", "Hola", "Habari", "Привет", "Ciao"]}
      client:load
      messages={[
        "Thanks for visiting",
        "Obrigado pela visita",
        "Благодаря за посещението",
        "ご訪問ありがとう",
        "Dziękujemy za odwiedziny",
        "Tak for besøget",
      ]}
    />
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</BaseLayout>

<style>
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
