---
const { pubDate, url, title } = Astro.props;
---

<li class="list"><small>{pubDate}</small><a href={url}>{title}</a></li>

<style>
    a {
        /* color: var(--four-color); */
        font-weight: bold;
    }
    small {
        font-style: italic;
        background-color: var(--second-color);
        border-radius: 15px;
        padding: 7px;
        font-size: 0.7em;
        margin-right: 0.5em;
    }
    .list {
        list-style: none;
        margin-left: 0;
    }
</style>
